body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}
/* .container-fluid {
    max-width: 1425px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
} */
h2 {
    font-size: 2rem;
    margin-bottom: 16px;
    padding-top: 16px;

}
/* .form-group label {
    font-weight: bold;
} */
.btn {
    width: 18%;
    padding: 10px;
}
.btn-primary {
    margin-top: 20px;
    background-color: #007bff;
    border-color: #007bff;
    position: relative;
    left: 1262px;
    width: 100px;}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

.cancel-button {
    margin-top: 10px;
    text-align: center;
}
.back{
    position: absolute;
    top: 36px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.back:hover{
    color: #272727;
    text-decoration: none;
}
.button{
    position: relative;
    left: 550px;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 8px;
}

.django-ckeditor-widget{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.bi{
    font-size: 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.bi:hover{
    color: #000000;
}
.container{
    background-color: #f8f9fa;
    padding: 30px;
    margin-bottom: 20px;
    border: 1px solid #e9e5e5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  
    max-width: 1425px;
    margin-top: 50px;   
    border-radius: 10px;
}
