body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}
/* .container-fluid {
    max-width: 1425px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
} */
h2 {
    font-size: 2rem;
    margin-bottom: 16px;
    padding-top: 16px;

}
/* .form-group label {
    font-weight: bold;
} */
.btn {
    width: 18%;
    padding: 10px;
}
.button {
    position: relative;
    bottom: 20px;
    left: 1156px;
    background-color: #f27745;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.button:hover {
    background-color: #ec6833;
    text-decoration: none;
}

.backbutton {
    position: relative;
    bottom: 20px;
    left: 1156px;
    background-color: #f27745;
    color: #ffffff;
    border: none;
    padding: 14px 20px;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.backbutton:hover {
    background-color: #ec6833;
    text-decoration: none;
}

.backbutton {
    position: relative;
    bottom: 20px;
    left: 1156px;
    background-color: #f27745;
    color: #ffffff;
    border: none;
    padding: 13px 20px;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.backbutton:hover {
    background-color: #ec6833;
    text-decoration: none;
    color:#ffffff ;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

.cancel-button {
    margin-top: 10px;
    text-align: center;
}
.back{
    position: absolute;
    top: 117px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.back:hover{
    color: #272727;
    text-decoration: none;
}
.django-ckeditor-widget{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.bi{
    font-size: 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.bi:hover{
    color: #000000;
}
.container{
    background-color: #f8f9fa;
    padding: 30px;
    margin-bottom: 20px;
    border: 1px solid #e9e5e5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  
    max-width: 1425px;
    margin-top: 50px;   
    border-radius: 10px;
}
