{% extends 'navbase.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block extra_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    {% endblock %}
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
    <title>Create Blog Post</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        
        <form method="POST" style="margin-top: 50px;" >
            {% csrf_token %}
            {{ form.media }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_title">Title<span>*</span></label>
                    <input type="text" name="title" id="id_title" 
                           class="{% if form.title.errors %}error-input{% endif %}"
                           value="{{ form.title.value|default:'' }}">
                           <span id="title-error" class="error-message"> </span>
                    {% for error in form.title.errors %}
                    <div class="error-message">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6">
                    <label for="id_category">Category<span>*</span></label>
                    <select name="category" id="id_category" 
                            class="{% if form.category.errors %}error-input{% endif %}">
                        <option value="">Select a category</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == form.category.value %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                        {% endfor %}
                        <option value="others" style="font-weight: bold; color: #007bff;">New Category</option>
                    </select>
                    <span id="category-error" class="error-message"></span>
                    {% for error in form.category.errors %}
                    <div class="error-message">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="otherCategoryDiv" style="display: none;" class="form-group">
                <label for="id_other_category">New Category Name</label>
                <input type="text" name="other_category" id="id_other_category">
            </div>
            <div class="form-group">
                {{ form.content }}
                {% for error in form.content.errors %}
                <span id="content-error" class="error-message"></span>
                <div class="error-message">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <a href="{% url 'home' %}" class="button">Back</a>
            <button type="submit" class="button">Save</button>
        </form>
    </div>
     
    {% endblock %}
    {% block extra_js %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJQjEUh0OJwPkkkVxA65eL8IBn91p7mFBrmE8ZfuPvzOgf"
        crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>