{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Editor{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/navbse.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>
    <nav class="bar">
        <div style="display: flex; gap: 20px;">
            <div>
                <h1 class="nav-link">Text Editor</h1>
            </div>
            <!-- <div>
                <a style="text-decoration: none;" href="{% url 'home' %}">
                    <h1 class="nav-link">Home</h1>
                </a>
            </div> -->
        </div>
        <div class="logout">
            {% if user.is_authenticated %}
            <!-- <span class="user-name">Hello, {{ user.email }}</span>   -->
            {% endif %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}

                <button type="submit" class="logout-button"> <i class="bi bi-box-arrow-right"></i> Logout</button>
            </form>
        </div>
    </nav>
    {% block content %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>

</html>